.movie-card {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 10px;
  }
  
  .movie-card ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .movie-card li { 
    background-color: black; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 250px; /* Réduire la largeur */ 
    margin: 8px; /* Réduire l'espace entre les cartes */ 
    padding: 12px; /* Réduire le rembourrage */ 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    transition: transform 0.2s, z-index 0.2s; 
    flex: 0 0 auto; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Aligner les éléments de manière uniforme */
  }
  
  .movie-card li:hover {
    transform: scale(1.05);
    z-index: 1;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .movie-card strong {
    font-size: 1.1em;
    margin-top: 8px;
    display: block;
  }
  
  .movie-card p {
    margin: 4px 0;
  }

  .movie-card {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 10px;
}

/* Customisation de la scrollbar */
.movie-card::-webkit-scrollbar {
    height: 4px;
}

.movie-card::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

.movie-card::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.movie-card::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  
  