/* Styles pour la barre de navigation */
.navbar {
    font-family: 'Arial', sans-serif;
    display: flex;
    gap: 3px;
}

.navbar.light {
    background-color: white;
    color: black;
}

.navbar.dark {
    background-color: black;
    color: white;
}

.navbar a,
.navbar button {
    color: inherit;
    background-color: inherit;
    border-radius: 2px;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: opacity 0.3s; /* Ajouter une transition pour la transparence */
    border: 2px solid; /* Ajouter une légère ligne */
    cursor: pointer;
    font-size: 16px; /* Définir la taille de la police pour tous les éléments */
}

.navbar.light a,
.navbar.light button {
    border-color: black;
}

.navbar.dark a,
.navbar.dark button {
    border-color: white;
}

.navbar a:hover,
.navbar button:hover {
    opacity: 0.7; /* Rendre le lien et le bouton légèrement transparents au survol */
}

.navbar.light a:hover,
.navbar.light button:hover {
    background-color: #1e90ff; /* Couleur bleue pour le mode light */
    color: #fff;
}

.navbar.dark a:hover,
.navbar.dark button:hover {
    background-color: #ff6347; /* Couleur rouge pour le mode dark */
    color: #fff;
}